{% extends 'base.html.twig' %}

{% block title %}PrivateCoaching{% endblock %}

{% block body %}
    <h1>PrivateCoaching</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ private_coaching.id }}</td>
            </tr>
            <tr>
                <th>DateSession</th>
                <td>{{ private_coaching.DateSession ? private_coaching.DateSession|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BeginHour</th>
                <td>{{ private_coaching.BeginHour }}</td>
            </tr>
            <tr>
                <th>EndHour</th>
                <td>{{ private_coaching.EndHour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_private_index') }}">back to list</a>

    <a href="{{ path('app_private_edit', {'id': private_coaching.id}) }}">edit</a>

    {{ include('private/_delete_form.html.twig') }}
{% endblock %}
